* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Da 2", cursive;
}


i {
  cursor: pointer;
}

/* Background Colors */
.darkBorder {
  border: 2px solid #303A3F!important;
}
.darkCpuMsg {
  background-color: #262D31!important;
  color: #fff;
}
.darkUserMsg {
  background-color: #054740!important;
  color: #fff;
}
.inputDark {
  background-color: #33383B !important;
  color: #fff;
}

.darkChatText {
  background-color: #1E2428 !important;
}
.darkChat {
  background: #162127!important;
}
.darkBlue {
  background-color: #085373!important;
}

.whitetext {
  color: #fff !important;
}

.blackGrey {
  background-color: #2A2F32 !important;
}

.darkGrey {
  background-color: #131C21 !important;
}

body {
  height: 100vh;
  background: url(../img/boolzap-bg.png) no-repeat;
  background-size: cover;
}

/* General rules */

.flex {
  display: flex;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../img/avatar3.png) no-repeat center center/cover;
}

/* Main */

main {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

main .main-wrapper {
  width: 85%;
  height: 95%;
  background-color: #fff;
}

/* Main Left/right column General */
main .main-wrapper .leftCol,
main .main-wrapper .rightCol {
  background-color: #eaeaea;
  align-items: center;
  height: 100%;
  overflow-y: hidden;
}
main .main-wrapper .leftCol {
  width: 35%;
  border-right: 2px solid #dadada;
}
main .main-wrapper .rightCol {
  width: 65%;
}

main .main-wrapper .nav {
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
}
main .main-wrapper .nav .comands {
  position: relative;
}

main .main-wrapper .nav .comands i {
  color: #b1b1b1;
  margin-left: 30px;
  font-size: 20px;
}

main .main-wrapper .nav .comands #dark-mode-menu {
  position: absolute;
  left: 0px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px #000;
  display: none;
}

main .main-wrapper .nav .comands #dark-mode-menu div {
  cursor: pointer;
}

/* Left-content */

main .main-wrapper .leftCol .notification {
  height: 100px;
  background-color: #8ddafc;
  align-items: center;
  padding: 0 10px;
}

main .main-wrapper .leftCol .notification .avatarbell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 50%;
}

main .main-wrapper .leftCol .notification .avatarbell i {
  font-size: 20px;
  color: #8ddafc;
}

/* Search Conversation */

main .main-wrapper .leftCol .search {
  padding: 2%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}

main .main-wrapper .leftCol .search label {
  width: 100%;
  height: 30px;
  background-color: #fff;
  align-items: center;
  border-radius: 20px;
}

main .main-wrapper .leftCol .search label i {
  color: #b1b1b1;
  width: 10%;
  margin-left: 20px;
}

main .main-wrapper .leftCol .search label #search {
  border: none;
  width: 70%;
}
main .main-wrapper .leftCol .conversations-wrapper {
  overflow: auto;
  height: calc(100% - 230px);
  scrollbar-width: thin;
  background-color: #fff;
}
main .main-wrapper .leftCol .conversations-wrapper .conversation-chat {
  align-items: center;
  padding: 2%;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

main .main-wrapper .leftCol .conversations-wrapper .conversation-chat:hover {
  background-color: #dadada;
}

main .main-wrapper .leftCol .conversations-wrapper .conversation-chat.active {
  background-color: #dadada;
}

main .main-wrapper .leftCol .conversations-wrapper .conversation-chat .avatar {
  margin-right: 30px;
}

/* Right Content */

main .main-wrapper .rightCol .chat-content {
  background: url(../img/whp-bg1.png);
  width: 100%;
  height: calc(100% - 140px);
  overflow: auto;
  overflow-x: hidden;
  flex-direction: column;
  padding: 20px;
  scrollbar-width: thin;
  display: none;
}

main .main-wrapper .rightCol .chat-content.active {
  display: block;
  display: flex;
}


/* main .main-wrapper .rightCol #chat-content {
  display: block;
} */


main .main-wrapper .rightCol .contact {
  align-items: center;
}

main .main-wrapper .rightCol #chat-details {
  margin-left: 15px;
  position: relative;
}

main .main-wrapper .rightCol #chat-details span {
  color: #b1b1b1;
  position: absolute;
  top: 32px;
  width: 200px;
  display: none;
}

main .main-wrapper .rightCol .chat-content i {
  position: absolute;
  top: 5px;
  right: 8px;
  display: none;
  color: #b1b1b1;
  font-size: 15px;
}

main .main-wrapper .rightCol .chat-content .message-options {
  box-shadow: 1px 1px 4px 1px #dadada;
  position: fixed;
  background-color: #fff;
  z-index: 2;
  width: 150px;
  border-radius: 2px;
  padding: 10px;
  display: none;
}
main .main-wrapper .rightCol .chat-content .message-options span {
  cursor: pointer;
}

main .main-wrapper .rightCol .chat-content .user-message:hover i,
main .main-wrapper .rightCol .chat-content .cpu-message:hover i {
  display: block;
}

.user-message,
.cpu-message {
  border-radius: 10px;
  padding: 10px 50px 10px 10px;
  max-width: 450px;
  position: relative;
  margin-bottom: 15px;
  align-items: center;
}

#user-cloud,
#cpu-cloud {
  position: absolute;
  width: 60px;
  height: 10px;
  border-radius: 100%;
}

#user-cloud {
  right: -15px;
  top: 0;
  background-color: #d5f9ba;
}

#cpu-cloud {
  left: -15px;
  top: 0;
  background-color: #fff;
}

.user-message {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.cpu-message {
  background-color: #fff;
  align-self: flex-start;
}

main .main-wrapper .rightCol .chat-content .message-time {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 10px;
  color: #b1b1b1;
}

main .main-wrapper .rightCol .chat-text {
  height: 60px;
  background-color: #f3eee9;
  justify-content: space-around;
  align-items: center;
  padding: 0 2%;
}

main .main-wrapper .rightCol .chat-text i {
  color: #6a7376;
  font-size: 20px;
  margin: 0 10px;
}

main .main-wrapper .rightCol .chat-text label {
  width: 90%;
}

main .main-wrapper .rightCol .chat-text label #chat-text-input {
  width: 100%;
  height: 40px;
  padding: 1%;
  border: none;
  border-radius: 5px;
  display: none;
}

@media (max-width: 900px) {
  main .main-wrapper {
    width: 100%;
    height: 100vh;
  }

  main .main-wrapper .rightCol .chat-content .user-message .message-options {
    position: absolute;
    left: -70px;
  }
}

@media (max-width: 600px) {
  main .main-wrapper .leftCol {
    width: 100%;
  }

  main .main-wrapper .rightCol {
    display: none;
    width: 100%;
  }
}
